title=Modules

<head>
<style type="text/css">
  table
  {
    background: white;
    border-collapse: collapse;
    margin-top: 20px;
  }

  table:first-child
  {
    margin-top: 0;
  }

  th, td
  {
    border: 1px solid black;
    padding: 5px;
  }

  th
  {
    text-align: right;
  }
</style>
</head>
<p>
  {{modules-description Adblock Plus and all related projects are governed by a <a href="module-ownership">module ownership system</a>. Below is a list of all the modules we currently have.}}
</p>

<table id="core">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Core</td>
  </tr>
  <tr>
    <th>{{table-header-owners Owner(s)}}</th>
    <td><a href="mailto:manish@adblockplus.org">Manish Jethani</a></td>
  </tr>
  <tr>
    <th rowspan="2">{{table-header-peers Peer(s)}}</th>
    <td><a href="mailto:sergei@adblockplus.org">Sergei Zabolotskikh</a></td>
  </tr>
  <tr>
    <td><a href="mailto:dave@adblockplus.org">Dave Barker</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          {{module-core-source <a href="https://gitlab.com/eyeo/adblockplus/adblockpluscore"><fix>adblockpluscore</fix></a> (except <a href="#automation"><fix>Automation</fix></a> and <a href="#snippets"><fix>Snippets</fix></a>)}}
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="user-interface">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>User Interface</td>
  </tr>
  <tr>
    <th>{{table-header-description Description}}</th>
    <td>{{module-ui-description The User Interface of the Adblock Plus browser extension.}}</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:thomas@adblockplus.org">Thomas Greiner</a></td>
  </tr>
  <tr>
    <th rowspan="2">{{table-header-peers Peer(s)}}</th>
    <td><a href="mailto:manvel@adblockplus.org">Manvel Saroyan</a></td>
  </tr>
  <tr>
    <td><a href="mailto:andrea@adblockplus.org">Andrea Giammarchi</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://gitlab.com/eyeo/adblockplus/abpui/adblockplusui">adblockplusui</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="platform">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Platform</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:sebastian@adblockplus.org">Sebastian Noack</a></td>
  </tr>
  <tr>
    <th>{{table-header-peers Peer(s)}}</th>
    <td><a href="mailto:dave@adblockplus.org">Dave Barker</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          {{module-platform-source <a href="https://gitlab.com/eyeo/adblockplus/adblockpluschrome"><fix>adblockpluschrome</fix></a> (except <a href="#automation"><fix>Automation</fix></a>)}}
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="automation">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Automation</td>
  </tr>
  <tr>
    <th>{{table-header-description Description}}</th>
    <td>{{module-automation-description The build, release and test automation for the Adblock Plus browser extension.}}</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:sebastian@adblockplus.org">Sebastian Noack</a></td>
  </tr>
  <tr>
    <th>{{table-header-peers Peer(s)}}</th>
    <td><a href="mailto:tristan@adblockplus.org">Tristan Lucas</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/buildtools">buildtools</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/auxiliary/eyeo-coding-style">eyeo-coding-style</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/abpssembly">abpssembly</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/adblockplus/adblockpluschrome">adblockpluschrome</a>
          <ul>
            <li>build/*</li>
            <li>test/*</li>
            <li>.gitlab-ci.yml</li>
          </ul>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/adblockplus/adblockpluscore">adblockpluscore</a>
          <ul>
            <li>build/*</li>
            <li>test/runners/*</li>
            <li>test_runner.js</li>
            <li>.gitlab-ci.yml</li>
          </ul>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="snippets">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Snippets</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:hubert@adblockplus.org">Hubert Figuière</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://gitlab.com/eyeo/adblockplus/adblockpluscore">adblockpluscore</a>
          <ul>
            <li>lib/content/snippets.js</li>
            <li>test/browser/snippets.js</li>
          </ul>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="adblock-plus-for-internet-explorer">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Adblock Plus for Internet Explorer</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:oleksandr@adblockplus.org">Oleksandr Paraska</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/adblockplusie">adblockplusie</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="libadblockplus">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Libadblockplus</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:sergei@adblockplus.org">Sergei Zabolotskikh</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://github.com/adblockplus/googletest-github">googletest</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/external-dependencies/gyp">gyp</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/adblockplus/libadblockplus">libadblockplus</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/external-dependencies/chromium-v8-v8.git">v8</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/adblockplus/v8-project">v8-project</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/external-dependencies/chromium-deps-icu">chromium-deps-icu</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/external-dependencies/chromium-trace_event-common">chromium-src-base-trace_event-common</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/external-dependencies/chromium-src-build">chromium-src-build</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/external-dependencies/chromium-src-tools-clang">chromium-src-tools-clang</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="libadblockplus-android">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Adblock Android SDK</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:anton@adblockplus.org">Anton Smirnov</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://gitlab.com/eyeo/adblockplus/libadblockplus-android">libadblockplus-android</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/libadblockplus-binaries">libadblockplus-binaries</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="adblock-chromium">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>AdblockChromium</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="anton:anton@adblockplus.org">Anton Smirnov</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
</table>

<table id="adblock-browser-for-android">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Adblock Browser for Android</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:diego@adblockplus.org">Diego Carlos Lima</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/adblockbrowser">adblockbrowser</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/mozharness">mozharness</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="adblock-plus-for-samsung-browser">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Adblock Plus for Samsung Internet</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:jens@adblockplus.org">Jens Wangenheim</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://gitlab.com/eyeo/adblockplus/adblockplussbrowser">adblockplussbrowser</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="adblock-plus-for-ios">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Adblock Plus for iOS/macOS</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:d.zhang@adblockplus.org">Daniel Zhang</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://gitlab.com/eyeo/adblockplus/adblockplussafariios">adblockplussafariios</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/adblockplus/abp2blocklist">abp2blocklist</a>
        </li>
        <li>
          <a href="https://github.com/adblockplus/yajl-dynamic">yajl-dynamic</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="infrastructure">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Infrastructure</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:mathias@adblockplus.org">Mathias Hennig</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/discourse">discourse</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/downloads">downloads</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure">infrastructure</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppet-concat">infrastructure-puppet-concat</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppet-postgresql">infrastructure-puppet-postgresql</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppet-spawn-fcgi">infrastructure-puppet-spawn-fcgi</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppetlabs-apt">infrastructure-puppetlabs-apt</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppetlabs-firewall">infrastructure-puppetlabs-firewall</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppetlabs-mysql">infrastructure-puppetlabs-mysql</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/infrastructure-puppetlabs-stdlib">infrastructure-puppetlabs-stdlib</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/contentblockerlists">contentblockerlists</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="sitescripts">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Sitescripts</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:vasily@adblockplus.org">Vasily Kuznetsov</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://hg.adblockplus.org/abpbot">abpbot</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/cms">cms</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/python-abp">python-abp</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/sitescripts">sitescripts</a>
        </li>
        <li>
          <a href="https://hg.adblockplus.org/codingtools">codingtools</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table id="websites">
  <tr>
    <th>{{table-header-name Name}}</th>
    <td>Websites</td>
  </tr>
  <tr>
    <th>{{table-header-owner Owner}}</th>
    <td><a href="mailto:julian@adblockplus.org">Julian Doucette</a></td>
  </tr>
  <tr>
    <th>{{table-header-peers Peer(s)}}</th>
    <td><a href="mailto:manvel@adblockplus.org">Manvel Saroyan</a></td>
  </tr>
  <tr>
    <th>{{table-header-super-reviewer Super reviewer}}</th>
    <td><a href="mailto:felix@adblockplus.org">Felix Dahlke</a></td>
  </tr>
  <tr>
    <th>{{table-header-source-path Source path(s)}}</th>
    <td>
      <ul>
        <li>
          <a href="https://gitlab.com/eyeo/websites/web.adblockplus.org">web.adblockplus.org</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/websites/web.adblockbrowser.org">web.adblockbrowser.org</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/websites/web.acceptableads.com">web.acceptableads.com</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/websites/help.eyeo.com">help.eyeo.com</a>
        </li>
        <li>
          <a href="https://gitlab.com/eyeo/websites/website-defaults">website-defaults</a>
        </li>
      </ul>
    </td>
  </tr>
</table>
